In [1]:
a = 10
print(a)
print(type(a))
print(a,type(a))

10
<class 'int'>
10 <class 'int'>

In [2]:
a = 10
print("The type of varibale having value", a, "is" , type(a))

The type of varibale having value 10 is <class 'int'>

In [3]:
a = 2.5e4
print(a,type(a))

25000.0 <class 'float'>

In [4]:
a = 5
b = float(a)
print(b,type(b))

5.0 <class 'float'>

In [5]:
c = 7.0
d = int(c)
print(d,type(d))

7 <class 'int'>

LIST

In [8]:
my_list = [10,5,0,30,20]
print(my_list,type(my_list))
print(my_list[3])

new_list = [10,5,"f" ,30,True]
print(new_list)

my_list[1] = "Dog"
print(my_list)

print(len(my_list))

print(my_list[-1])
print(my_list[-3])

print(my_list[1:4],type(my_list[1:4]))
print(my_list[:3],type(my_list[:3]))
print(my_list[2:],type(my_list[2:]))

print()
my_list[1:2] = ["parrot" , 17]
print(my_list)

[10, 5, 0, 30, 20] <class 'list'>
30
[10, 5, 'f', 30, True]
[10, 'Dog', 0, 30, 20]
5
20
0
['Dog', 0, 30] <class 'list'>
[10, 'Dog', 0] <class 'list'>
[0, 30, 20] <class 'list'>

[10, 'parrot', 17, 0, 30, 20]

In [3]:
my_list = [10, 5, "cat", "dog", True]
my_list[1:3] = ["parrot", 17.0]

print(my_list)

[10, 'parrot', 17.0, 'dog', True]

In [4]:
my_list = [10, 5, "cat", "dog", True]
my_list.insert(2, "Rat")
print(my_list, len(my_list))

[10, 5, 'Rat', 'cat', 'dog', True] 6

In [5]:
my_list = [10, 5, "cat", "dog", True]
my_list.append("Carrot")
print(my_list, len(my_list))

[10, 5, 'cat', 'dog', True, 'Carrot'] 6

In [6]:
my_list = [10, 5, "cat", "dog", True]
my_list_1 = ["John", 3, False]

my_list.extend(my_list_1)

print(my_list, len(my_list))

[10, 5, 'cat', 'dog', True, 'John', 3, False] 8

In [7]:
my_list = [10, 5, "cat", "dog", True]
my_list.pop(2)

print(my_list, len(my_list))

[10, 5, 'dog', True] 4

In [9]:
my_list = [10, 5, "cat", "dog", True]
del my_list[2]

print(my_list, len(my_list))

[10, 5, 'dog', True] 4

In [11]:
my_list = [10, 5, "cat", "dog", True]
del my_list

In [14]:
my_list = [10, 5, "cat", "dog", True]
my_list.clear()

print(my_list, len(my_list))

[] 0

SOARTING

In [15]:
my_list = ["Grapes", "Apple", "Orange", "Banana"]
my_list.sort()

print(my_list)

['Apple', 'Banana', 'Grapes', 'Orange']

In [16]:
my_list = ["Grapes", "apple", "orange", "banana"]
my_list.sort()

print(my_list)

['Grapes', 'apple', 'banana', 'orange']

In [17]:
my_list = ["Grapes", "apple", "orange", "banana"]
my_list.sort(key=str.lower)

print(my_list)

['apple', 'banana', 'Grapes', 'orange']

In [18]:
my_list = [5, 3, 10, 25, 8]
my_list.sort()

print(my_list)

[3, 5, 8, 10, 25]

In [19]:
my_list = [5, 3, 10, 25, 8]
my_list.sort(reverse=True)

print(my_list)

[25, 10, 8, 5, 3]

1 - Median       2 - Q1         3 - Q3

In [1]:
my_list_1 = [12, 10, 13, 4, 1, 5]
my_list_2 = [6, 1, 7, 8, 10]

my_list_1.extend(my_list_2)

my_list_1.sort()

median_index = int((len(my_list_1))/2)

q1 = int((len(my_list_1) +1)/4)

q3 = int(3*((len(my_list_1) +1)/4))

print(my_list_1, len(my_list_1))

print("Median - ", my_list_1[median_index])

print("Q1 - ", my_list_1[q1-1])

print("Q3 - ", my_list_1[q3-1])

[1, 1, 4, 5, 6, 7, 8, 10, 10, 12, 13] 11
Median -  7
Q1 -  4
Q3 -  10

In [1]:
my_list_1 = [12, 10, 13, 4, 1, 5]
my_list_2 = my_list_1.copy()
print(my_list_1)
print(my_list_2)

[12, 10, 13, 4, 1, 5]
[12, 10, 13, 4, 1, 5]

TUPLES

In [ ]:
my_tuple = (39.1, 56.5)  
# Cordinates

In [2]:
my_tuple = (1, "apple", True)
print(type(my_tuple))

<class 'tuple'>

In [3]:
my_tuple = (1, "apple", True)
print(len(my_tuple))

3

In [3]:
my_list = [8, 10, 12, 11, 15, 4, 16]
print(my_list[1:5])

print(my_list[1:5:2])

[10, 12, 11, 15]
[10, 11]

In [4]:
my_list = [1, 2, 5]
x, y, z = my_list

print(x, y, z)

1 2 5

In [1]:
my_list = [1, 2, 5, 3]
my_list[::2] = [0,0,0]
print(my_list)

ValueError: attempt to assign sequence of size 3 to extended slice of size 2