TUPLES

In [ ]:
my_tuple = (39.1, 56.5)  
# Cordinates

In [1]:
my_tuple = (1, "apple", True)
print(type(my_tuple))

<class 'tuple'>

In [2]:
my_tuple = (1, "apple", True)
print(len(my_tuple))

3

In [ ]:
my_tuple = (8)
print(type(my_tuple))

<class 'int'>

In [4]:
my_tuple = (8,)
print(type(my_tuple))

<class 'tuple'>

In [5]:
my_tuple = (1, 8, 12, 7)
print(my_tuple[-2])

12

In [6]:
my_tuple = (1, 8, 12, 7)
print(my_tuple[1:3])

(8, 12)

In [8]:
my_tuple = (1, 8, 12, 7)
my_list = list(my_tuple)
my_list[2] = 15
my_tuple = tuple(my_list)

print(my_tuple)
print(type(my_tuple))

(1, 8, 15, 7)
<class 'tuple'>

In [ ]:
my_tuple = ((1, 3, 2), ("apple", "banana", "grapes"), (True, False))
print("Banana - ", my_tuple[1][1])
print("False - ", my_tuple[2][1])

Banana -  banana
False -  False

RANGE

In [10]:
my_range = range(1, 11, 2)
print(type(my_range))
print(my_range[1])
print(len(my_range))

<class 'range'>
3
5

In [2]:
my_tuple = (1, 2, 5)
x, y, z = my_tuple

print(x, y, z)

1 2 5