abs()

In [1]:
print(abs(-20))

20

map()

In [3]:
def cal_squre(x):
    return x*x

my_list = [1, 5, 8, 6]

result = list(map(cal_squre, my_list))

print(result, type(result))

[1, 25, 64, 36] <class 'list'>

In [4]:
my_list_1 = [10, 8, 5, 6]
my_list_2 = [4, 3, 6, 1]

def cal_list(num1, num2):
    return num1 + num2

result = list(map(cal_list, my_list_1, my_list_2))
print(result)

[14, 11, 11, 7]

In [5]:
temperatures = [20, 30, 25, 40, 15]

def convert_temp(temp):
    return temp * 9/5 + 32

result = list(map(convert_temp, temperatures))
print(result)

[68.0, 86.0, 77.0, 104.0, 59.0]

filter()

In [7]:
my_list = [2, 5, 6, 9, 7, 8]

def find_even(x):
    return x%2 == 0

print(list(filter(find_even, my_list)))

[2, 6, 8]

LAMBDA FUNCTION

In [8]:
add = lambda x,y : x + y

print(add(3, 4))

7

In [9]:
result = (lambda x, y : x + y)(5, 8)

print(result)

13

In [10]:
result = (lambda x : x**2) (5)

print(result)

25

In [ ]:
people = [("Alice", 23), ("John", 17), ("Andrew", 25), ("Kate", 15)]

result = list(filter((lambda x : x[1] >= 18), people))

print(result)

[('Alice', 23), ('Andrew', 25)]

Anonymouse function inside another function

In [30]:
def my_func(n):
    return lambda a : a*n

my_doubler = my_func(2)
my_tribler = my_func(3)

print(my_doubler(3))
print(my_tribler(3))

6
9

In [34]:
result = (lambda x, y : x if x > y else y) (10, 30)

print(result)

30

In [51]:
def find_factorial(n):
    fact = 1

    if n == 0:
        return 1

    for i in range(1, n+1):
        fact *= i
    
    return fact

print(find_factorial(3))

6